.pokemon {
  background-color: #3b4cca;
  padding-top: 2rem;
}
.profile {
  display: flex;
  justify-content: center;
}

.pokeImg img {
  display: flex;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 10px 5px 10px #333;
  object-fit: cover;
  background-color: #cc0000;
  margin-bottom: 2rem;
}

.attribute-list {
  font-family: 'Kanit', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px #333;
  padding: 2rem;
  margin-top: 3rem;
  background-color: #ffde00;
  font-size: 1.7rem;
}

.base {
  font-size: 2rem;
  font-weight: bold;
  color: #cc0000;
  /* border-bottom: dotted #cc0000; */
}

@media only screen and (max-width: 500px) {
  .attribute-list {
    width: 100%;
  }
}
