.PokeGallery-wrapper {
  border: solid 3px red;
}

.PokeGallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.PokeGallery-btn-section {
  padding: 1em;
  text-align: center;
}

.PokeGallery-btn {
  padding: 0.5em;
}