.PokeGallery-wrapper {
  background-color: #3b4cca;
  padding-top: 2rem;
}

.PokeGallery-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
  */
  grid-template-columns: repeat(auto-fit, 18rem);
  justify-content: center;
  gap: 4rem;
  padding: 3rem;
  margin-bottom: 2rem;
}

.PokeGallery-container a {
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
}

.PokeGallery-btn-section {
  padding: 1em;
  text-align: center;
}

.PokeGallery-btn {
  padding: 0.5em;
}
